body {
    font-family: 'Open Sans', 'News Gothic', 'Helvetica';
    font-weight: 400;
    margin: 0px;
    border: 0px;
    background: #fff;
    margin-top: 44px;
    /*margin-bottom: 20px;*/
}

.catwrap {
    background: rgb(50,50,50);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.40);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.40);
}

.catwrap a {
    text-decoration: none;
}

.category {
    opacity: 1.0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    color: rgb(240, 240, 240);
    margin-left: 12px;
    font-size: 36px;
}

.category:hover {
    opacity: 0.6;
}

#header {
    z-index: 50;
    width:  100%;
    margin: 0px;
    box-shadow: 0 0 6px rgb(0,0,0) inset;
    overflow: visible;
    position: fixed;
    top: 0px;
    height: 44px;
    background-color: rgb(30,30,30);
}

.reverser {
    unicode-bidi: bidi-override;
    direction: rtl;
}

#footer {
    background: rgb(200,200,200);
    margin: 0px;
    padding: 6px 6px 6px 6px;
    box-shadow: 0 0 1px rgb(80, 80, 80) inset;
    overflow: hidden;

    /*position: fixed;*/
    bottom: 0px;
    height: 20px;
    width: 99%;
    z-index: 2000;
}

.logobox {
    float: left;
    position: relative;
    clear: both;
    height: 44px;
}

.logobox img {
    padding: 4 4 4 4;
    float: left;
}
.logobox a {
    float: left;
}

.header_title {
    vertical-align: middle;
    line-height: 44px;
    color: white;
    font-size: 25px;
    margin-left: 10px;
    display: inline;
}

.header_title a {
    text-decoration: none;
    color: inherit;
    display: block;
    float: left;
    font-family: 'Inconsolata';
}

.nav {
    float: right;
    margin: 0px;
    z-index: 49;
}

.nav > ul {
    position: relative;
    list-style: none;
    font-weight: bold;
    float: left;
    margin: 0px;
    padding: 0px;
}

.nav > ul > li > a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 44px;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;

    color: rgb(240,240,240);
    font-size: 15px;
    min-width: 120px;
    font-family: 'Open Sans', 'News Gothic', 'Helvetica';
}

.nav ul > li > ul {
    width: 100%;
    display: block;
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;

    font-family: 'Open Sans', 'News Gothic', 'Helvetica';
    font-size: 14px;
    color: rgb(100,100,100);
    padding: 0px 0px 0px 9px;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    border-color: rgb(30, 30, 30);
    background-color: rgba(60,60,60,0.85);

    position: absolute;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
    -moz-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
    -o-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
    transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
    visibility: hidden;
}

.nav ul li:hover > ul {
    visibility: visible;
    opacity: 1.0;
    transition-delay: 0.2s;
}

.nav > ul > li > ul > li > a {
    font-family: 'Open Sans', 'News Gothic', 'Helvetica';
    font-size: 14px;
    color: rgb(220,220,220);
    height: 20px;
    text-decoration: none;
}

.nav > ul > li > ul > li > a:hover {
    color: rgb(255,255,255);
}

#snapbacker {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
}

#snapbacker img {
    -webkit-filter: blur(5px) opacity(50%);
    -moz-filter: blur(5px) opacity(50%);
    -o-filter: blur(5px) opacity(50%);
    filter: blur(5px);
    filter: url(/img/filters.svg#blur5);
    opacity: 0.25;
    width: 100%;
    height: auto;
}

#content {
    padding: 10px 10px 10px 10px;
    color: rgb(30,30,30);
}

#cat-content {
    padding: 10px 10px 10px 10px;
    max-width: 1500px;
    margin: auto;
}

.box-spanner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    background-color: black;
    background-image: url('empty.gif');
}

.box-spanner:hover {
    opacity: 0.2;
}


.bigbox {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    height: 250px;
    /*min-width: 350px;*/
    text-decoration: none;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    margin: 6px;

    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.40);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.40);
}

.bigbox img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 250px;
    position: relative;
}

.bigbox aside {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    text-align: right;
    box-shadow: 0 0 3px rgb(0, 0, 0) inset;

    color: rgba(255,255,255,0.9);
    font-weight: bold;
    font-family: 'Open Sans', "Droid Sans", Helvetica, Arial, sans-serif;
    text-decoration: none;
    background: rgba(33,33,33,0.82);
}

.bigbox a {
    text-decoration: none;
}

.article {
    z-index: 1;
    margin: auto;
    width: 76%;
    padding-bottom: 50px;
}

.article-title {
    font-weight: normal;
    font-size: 36px;
    color: #000;
}

.article-meta {
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #999;
}

.article-lead {
    color: #222;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
}

.article p,ol,ul {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #666;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
}

.article h1,h2 {
    text-align: center;
}

.article strong {
    color: #333;
}

pre {
    font-family: 'Inconsolata';
    padding: 12px;
    background: #fafafa;
    color: #666;
    font-size: 12px;
    line-height: 18px;
    -moz-tab-size: 4;
    tab-size: 4;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

hr {
    margin-top: 35px;
    margin-bottom: 35px;
    display: block;
    padding: 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
}

figure {
    position: absolute;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 4px;
    max-width: 100%;
}

.right {
    position: relative;
    display: inline;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.left {
    position: relative;
    display: inline;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.center {
    display: table;
    position: relative;
    text-align: center;

    max-width: 100%;
    margin: auto;
}

figure img {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    width: 95%;
    height: auto;
    vertical-align: middle;
    margin: auto;
    position: relative;
    display: table;
    max-width: 100%
}

figure img.figsize-98 { width: 98%; }
figure img.figsize-48 { width: 48%; }
figure img.figsize-31 { width: 31%; }
figure img.figsize-23 { width: 23%; }
figure img.figsize-18 { width: 18%; }

figure img.multipanel {
    display: inline;
    /*width: 49%;*/
}

figure img.bordered {
    border-style: solid;
    border-width: 1px;
    border-color: #444;
}

figcaption {
    padding-top: 4px;
    text-align: center;
    color: #666;
    font-size: 12px;
}

#blanket {
    cursor: pointer;
    background: rgba(0,0,0,0.85);
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: none;
    text-decoration: none;
    color: black;
}

#popup {
    z-index: 1000;
    position: fixed;
    height: auto;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#popup_link {
    display:block;
}

#popup_img {
    display: block;
    cursor: pointer;
}

.panel {
    padding: 15px;
    background: #fafafa;
    color: #666;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.panel-title{
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    text-transform: none;
    color: #666;
}


/**********************************************************
 * fluid grids, as composed by many sources on the web
 * ********************************************************/
.sg-container {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;

    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}

opera-only :-o-prefocus,
.sg-container {
    word-spacing: -0.43em;
}
.sg-container img {
    max-width: 100%;
    height: auto;
}

.sg {
    display: inline-block;
    *display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.sg-l-third {
    width: 33.333333%;
}

@media only screen and (min-width : 0px) and (max-width: 480px) {
    .shadebox > .sg:nth-child(n+2) { display: none;}
    .sg-container > [class *= "sg-l-"] {width: 100%;}
    .onethird { width: 100%; }
    .sg-l-400 { width: 100%; }
    .logobox { display: none; }
    body { margin-top: 88px; }
    #header { float: none; width: 100%; height: 88px; }
    .nav > ul  { width: 100%; position: relative; height: 20px; margin-bottom: 2px;}
    .nav > ul > li > a { line-height: 20px; width: 100%; }
    .nav > ul > li > ul { display: none; }
    figure.center {width: 100%; display: block;}
    figure img.multipanel { width: 100%; display: block; }
    figure img.figsize-98 { width: 100%; }
    figure img.figsize-48 { width: 100%; }
    figure img.figsize-31 { width: 100%; }
    figure img.figsize-23 { width: 100%; }
    figure img.figsize-18 { width: 100%; }
    .onethird:nth-child(2) {display: none;}
    .onethird:nth-child(3) {display: none;}
}

@media only screen and (min-width : 481px) and (max-width: 767px) {
    .shadebox > .sg:nth-child(n+3) { display: none;}
    .onethird { width: 50%; *width: 49.969%; }
    .sg-l-400 { width: 50%; *width: 49.969%; }
    .header_title { display: none; }
    .logobox {float: none; display: table-cell;}
    .nav { float: none; width: 100%; display: table-cell;}
    .navul > li > a { width: 100%; }
    .navul:first-child:nth-last-child(1) { width: 100%; }
    .navul:first-child:nth-last-child(2),
    .navul:first-child:nth-last-child(2) ~ .navul { width: 50%; }
    .navul:first-child:nth-last-child(3),
    .navul:first-child:nth-last-child(3) ~ .navul { width: 33.33333%; }
    .navul:first-child:nth-last-child(4),
    .navul:first-child:nth-last-child(4) ~ .navul { width: 25%; }
    .navul:first-child:nth-last-child(5),
    .navul:first-child:nth-last-child(5) ~ .navul { width: 20%; }
    .navul:first-child:nth-last-child(6),
    .navul:first-child:nth-last-child(6) ~ .navul { width: 16.66666%; }
    .navul:first-child:nth-last-child(7),
    .navul:first-child:nth-last-child(7) ~ .navul { width: 14.28571%; }
    .onethird:nth-child(3) {display: none;}
}

@media only screen and (min-width : 768px) and (max-width: 1023px) {
    .shadebox > .sg:nth-child(n+3) { display: none;}
    .onethird { width: 50%; *width: 49.969%; }
    .sg-l-400 { width: 50%; *width: 49.969%; }
    .header_title { display: none; }
    .logobox {float: none; display: table-cell;}
    .nav { float: none; width: 100%; display: table-cell;}
    .navul > li > a { width: 100%; }
    .navul:first-child:nth-last-child(1) { width: 100%; }
    .navul:first-child:nth-last-child(2),
    .navul:first-child:nth-last-child(2) ~ .navul { width: 50%; }
    .navul:first-child:nth-last-child(3),
    .navul:first-child:nth-last-child(3) ~ .navul { width: 33.33333%; }
    .navul:first-child:nth-last-child(4),
    .navul:first-child:nth-last-child(4) ~ .navul { width: 25%; }
    .navul:first-child:nth-last-child(5),
    .navul:first-child:nth-last-child(5) ~ .navul { width: 20%; }
    .navul:first-child:nth-last-child(6),
    .navul:first-child:nth-last-child(6) ~ .navul { width: 16.66666%; }
    .navul:first-child:nth-last-child(7),
    .navul:first-child:nth-last-child(7) ~ .navul { width: 14.28571%; }
    .onethird:nth-child(3) {display: none;}
}

@media only screen and (min-width : 1024px) and (max-width: 1140px) {
    .onethird { width: 33.333333%; *width: 33.3023%; }
    .sg-l-400 { width: 33.333333%; *width: 33.3023%; }
    .article { width: 768px; }
    .bigbox { height: 250px; }
    .header_title { display: none; }
    .logobox {float: none; display: table-cell;}
    .nav { float: none; width: 100%; display: table-cell;}
    .navul > li > a { width: 100%; }
    .navul:first-child:nth-last-child(1) { width: 100%; }
    .navul:first-child:nth-last-child(2),
    .navul:first-child:nth-last-child(2) ~ .navul { width: 50%; }
    .navul:first-child:nth-last-child(3),
    .navul:first-child:nth-last-child(3) ~ .navul { width: 33.33333%; }
    .navul:first-child:nth-last-child(4),
    .navul:first-child:nth-last-child(4) ~ .navul { width: 25%; }
    .navul:first-child:nth-last-child(5),
    .navul:first-child:nth-last-child(5) ~ .navul { width: 20%; }
    .navul:first-child:nth-last-child(6),
    .navul:first-child:nth-last-child(6) ~ .navul { width: 16.66666%; }
    .navul:first-child:nth-last-child(7),
    .navul:first-child:nth-last-child(7) ~ .navul { width: 14.28571%; }
}

@media only screen and (min-width : 1140px) and (max-width: 1599px) {
    .onethird { width: 33.333333%; *width: 33.3023%; }
    .sg-l-400 { width: 33.333333%; *width: 33.3023%; }
    .article { width: 768px; }
    .bigbox { height: 250px; }
}

@media only screen and (min-width : 1600px) and (max-width: 1800px) {
    .onethird { width: 33.333333%; *width: 33.3023%; }
    .sg-l-400 { width: 25%; *width: 24.969%; }
    .article { width: 840px; }
    .bigbox { height: 270px; }
}

@media only screen and (min-width : 1801px) {
    .onethird { width: 33.333333%; *width: 33.3023%; }
    .sg-l-400 { width: 20%; *width: 19.969%; }
    .article { width: 840px; }
    .bigbox { height: 280px; }
}

