body {
    font-family: 'Open Sans', 'News Gothic', 'Helvetica';
    margin: 0px;
    border: 0px;
    background: #fff; /*rgb(170,170,170);*/
}

.link-spanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    opacity: 0.5;

    background-color: black;
    background-image: url('empty.gif');
}   

#header {
    background: rgb(238,238,238);
    margin: 0px;
    padding: 6px 6px 6px 6px;
    box-shadow: 0 0 4px rgb(80, 80, 80) inset;
    overflow: hidden;
    position: relative;
}

#footer {
    background: rgb(238,238,238);
    margin: 0px;
    padding: 6px 6px 6px 6px;
    box-shadow: 0 0 4px rgb(80, 80, 80) inset;
    overflow: hidden;

    bottom: 0px;
    height: 80px;
    display: block;
    width: 99%;
}

.logobox {
    float: left;
    position: relative;
    display: table;
    clear: both;
    height: 100px;
}

.logobox img {
/*    float: left;*/
    max-height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.header_title {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: rgb(60,60,60);
    font-size: 36px;
    border-color: rgb(150,150,150);
}

.header_title a {
    text-decoration: none;
    color: inherit;
    display: block;
    float: left;
    font-family: 'Inconsolata';
}

.infoboxes {
    float: right;
    margin: 0px;
}

.infobox {
    margin: 8px 5px 0px 0;
    min-width: 120px;
    /*height: 80px;*/
}

.infobox h1 {
    margin: 0px;
    padding: 2px 10px 2px 10px;

    border-radius: 2px;
    color: rgb(240,240,240);
    background: rgb(80, 80, 80);
    font-size: 15px;
    width: 100px;
    font-family: 'News Gothic', 'Helvetica';
}

.infobox a {
    text-decoration: none;
    color: inherit;
}

.infobox ul {
    list-style-type: none;
    margin-top: 6px;
    margin-left: 0px; 

    font-family: 'Helvetica';
    font-size: 14px;
    color: rgb(100,100,100);
    padding: 0px 0px 0px 9px;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: rgb(60, 60, 60);
}

#content {
    margin: 15px;
    color: rgb(30,30,30);
    background: rgb(40,40,40);
}

#content h1 {
    display: inline-block;
    font-size: 52px;
    padding: 2px;
    margin: 0px;
    border-style: solid;
    border-width: 0 0 2px 2px;
}

.g-1-3 {
    display: inline-block;
    vertical-align: top;
    text-rendering: auto;
}
.g-1-5 {
    display: inline-block;
    vertical-align: top;
    text-rendering: auto;
    /*width: 18%*/
}

.bigbox {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    height: 250px;
    /*min-width: 350px;*/
}

.bigbox img {
    /*-webkit-filter: none;
    -webkit-transition: all 0.5s;*/

    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 250px;
    position: relative;

    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transition: opacity 0.5s ease-in-out; 
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out; 
    transition: opacity 0.5s ease-in-out;

    /* keep the pictures from shifting mysteriously */
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
}

.bigbox img:hover {
    /*-webkit-filter: blur(2px);*/
    /*-webkit-filter: grayscale(100%);*/
    position: relative;
    opacity: 0.60;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);

    /* keep the pictures from shifting mysteriously */
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
}

.bigbox  aside {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 1em 0.5em;
    color: white;
    width: 100%;
    font-size: 16px;
    text-align: right;
    box-shadow: 0 0 20px rgb(0, 0, 0) inset;

    background: -moz-linear-gradient(top,  rgba(53,53,53,1) 0%, rgba(21,21,21,0.7) 82%, rgba(14,14,14,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,53,53,1)), color-stop(82%,rgba(21,21,21,0.7)), color-stop(100%,rgba(14,14,14,1)));
    background: -webkit-linear-gradient(top,  rgba(53,53,53,1) 0%,rgba(21,21,21,0.7) 82%,rgba(14,14,14,1) 100%);
    background: -o-linear-gradient(top,  rgba(53,53,53,1) 0%,rgba(21,21,21,0.7) 82%,rgba(14,14,14,1) 100%);
    background: -ms-linear-gradient(top,  rgba(53,53,53,1) 0%,rgba(21,21,21,0.7) 82%,rgba(14,14,14,1) 100%);
    background: linear-gradient(to bottom,  rgba(53,53,53,1) 0%,rgba(21,21,21,0.7) 82%,rgba(14,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#0e0e0e',GradientType=0 );
}

.bigbox aside span a {
    text-decoration: none;
    color: white;
}

.article {
    margin: auto;
    width: 76%;
    padding-bottom: 50px;
}

.article-title {
    font-weight: normal;
    font-size: 36px;
    color: #000;
}

.article-meta {
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #999;
}

.article-lead {
    color: #222;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
}

.article p,ol,ul {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #666; 
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
}

.article h1,h2 {
    text-align: center;
}

.article strong {
    color: #333;
}

pre {
    font-family: 'Inconsolata';
    padding: 12px;
    background: #fafafa;
    color: #666;
    font-size: 12px;
    line-height: 18px;
    -moz-tab-size: 4;
    tab-size: 4;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

hr {
    margin-top: 35px;
    margin-bottom: 35px;
    display: block;
    padding: 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
}

figure {
    position: absolute;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 4px;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    max-width: 100%;
}

.right {
    position: relative;
    display: inline;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.left {
    position: relative;
    display: inline;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.center {
    display: table;
    position: relative;
    text-align: center;

    max-width: 100%;
    /*margin: 10px auto;*/
    /*height: 100%;*/
    margin: auto;
    /*top: 0; left: 0; bottom: 0; right: 0;*/
}

figure img {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    width: 95%;
    height: auto;
    vertical-align: middle;
    margin: auto;
    position: relative;
    display: table;
    max-width: 100%
}

figure img.multipanel {
    display: inline;
    width: 49%;
}

figcaption {
    border-style: solid;
    border-width: 1 0 0;
    padding-top: 4px;
    text-align: center;
    color: #666;
    font-size: 12px;
}

.panel {
    padding: 15px;
    background: #fafafa;
    color: #666;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.panel-title{
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    text-transform: none;
    color: #666;
}


/**********************************************************
 * fluid grids, as composed by many sources on the web
 * ********************************************************/
.sg-container {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;

    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}

opera-only :-o-prefocus,
.sg-container {
    word-spacing: -0.43em;
}
.sg-container img {
    max-width: 100%;
    height: auto;
}

.sg {
    display: inline-block;
    *display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.sg-l-third {
    width: 33.333333%;
}

@media only screen and (min-width : 0px) and (max-width: 480px) {
    .sg-container > [class *= "sg-l-"] {width: 100%;}
    .sg-l-400 { width: 100%; }
    .infobox { width: 100%; }
    .infobox { margin: 3px 0 0 0; }
    .infobox h1 { width: 93%; }
    .infobox ul { display: none; }
    .header_title { font-size: 18px;}
    .logobox { height: 30px; }
    figure.center {width: 100%; display: block;}
    figure img.multipanel { width: 100%; display: block; }
}

@media only screen and (min-width : 481px) and (max-width: 767px) {
    .sg-l-400 { width: 50%; *width: 49.969%; }
    .header_title { font-size: 24px;}
    .logobox { height: 70px; }
}

@media only screen and (min-width : 768px) and (max-width: 1023px) {
    .sg-l-400 { width: 50%; *width: 49.969%; }
    .header_title { font-size: 24px;}
    .logobox { height: 100px; }
}

@media only screen and (min-width : 1024px) and (max-width: 1599px) {
    .sg-l-400 { width: 33.333333%; *width: 33.3023%; }
    .header_title { font-size: 36px;}
    .logobox { height: 100px; }
    .article { width: 768px; }
}

@media only screen and (min-width : 1600px) and (max-width: 1800px) {
    .sg-l-400 { width: 25%; *width: 24.969%; }
    .header_title { font-size: 36px;}
    .logobox { height: 100px; }
    .article { width: 840px; }
}

@media only screen and (min-width : 1801px) {
    .sg-l-400 { width: 20%; *width: 19.969%; }
    .header_title { font-size: 42px;}
    .logobox { height: 100px; }
    .article { width: 840px; }
}

