<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                "HTML-CSS": { styles: { ".MathJax .mo, .MathJax .mi": {color: "black ! important"}},
                    extensions: ["handle-floats.js"]},
                tex2jax: {inlineMath: [['$','$'],['\\(','\\)']], processEscapes: true}, delayStartupUntil: "onload"
            });
        </script>
        <script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=onload">
        </script>

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata">
        <link rel='stylesheet' type='text/css' href='/css/normalize.css'/>
        <link rel='stylesheet' type='text/css' href='/css/style.css'/>
        <link rel='stylesheet' type='text/css' href='/css/highlight.css'/>
        <script src='/js/highlight.js'></script>
        <script>hljs.initHighlightingOnLoad();</script>
        {% if title|length > 0 %}
        <title>{{title}} | runat.me</title>
        {% else %}
        <title>runat.me</title>
        {% endif %}
    </head>

<body>
    <div id="header">
        <div class="logobox">
            <!--<img src='/img/cupgame.png' width=80 height=80/>-->
            <div class="header_title">
                {% for link in linklist %}
                    <a href='{{link.href}}'>{{link.name}}</a>
                {% endfor %}
            </div>
        </div>
    
        <div class='infoboxes'>
        {% for cat in header %}
            <div class="g-1-5 infobox" >
                <h1><a href='{{ cat.href }}'>{{ cat.name }}</a></h1>
                <ul>
                {% for item in cat.list %}
                    <li><a href='{{ item.href }}'>{{item.name.lower()}}</a></li>
                {% endfor %}
                </ul>
            </div> 
        {% endfor %}
        </div>
    </div>

    {% block body %}
    {% endblock %}

</body>
</html>
